---
title: Le Wagon Middleman boilerplate
---

<!-- Banner -->
<%= partial 'banner' %>

<!-- Features -->
<div class="container padded text-center features">
  <div class="row">
    <% data.features.each do |feature| %>
      <%= partial "feature", locals: {image: feature.image, feature: feature.feature, desc: feature.desc} %>
    <% end %>
  </div>
</div>

<!-- Cards -->
<div class="container">
  <div class="row">
    <% data.cards.each do |card| %>
      <%= partial 'card', locals: {image: card.image, location: card.location, avatar: card.avatar, title: card.title, desc: card.desc} %>
    <% end %>
  </div>
</div>

<!-- Your newsletter code -->
<%= partial "newsletter" %>

<!-- Your map code -->
<%= partial "map" %>
